$footer-height: 50px;
$box-shadow : 0 0.5rem 1rem 0 rgba(44, 51, 73, .1);
$border: 1px solid #edf1f7;
$border-radius: .25rem;

$color-danger: #ff3d71;
$color-success: #00d68f;
$color-primary: #36f;
$color-info: #0095ff;

$section-margin-b: 1.5rem;

$transition: all .3s ease-out;

nb-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: $transition;
}

.home {
    height: 100vh;
    border: 1px solid #edf1f7;
    border-top: none;
    border-bottom: none;
    max-width: 1300px;
    margin: 0 auto;
}

.main {
    height: calc(100vh - #{$footer-height});

    &_title {
        color: #666;
        text-align: right;
        padding: 10px 0;
        margin-bottom: $section-margin-b;

        &--flex {
            display: flex;
            flex-wrap: nowrap;

            span.title {
                width: 60px;
            }

            .icon {
                flex: 1;
                text-align: left;

                nb-icon {
                    color: $color-success;

                    &:hover {
                        color: $color-success;
                    }
                }

            }

        }
    }
}

.operations,
.statistics,
.files,
.employees {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    padding: 0 30px 10px 30px;
    text-align: right;
    background: #F6F8FB;
}

.footer {
    height: $footer-height;
    border-top: 1px solid #edf1f7;
    display: flex;
    text-align: left;
    color: #777;
    align-items: center;
    padding: 0 10px;
}

.statistics {
    border-right: 5px solid #fff;

    .stat {
        display: flex;
        flex-wrap: nowrap;
        padding: 10px;
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        background: #fff;
        align-items: center;
        margin-bottom: $section-margin-b;

        .icon-wrapper {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            box-shadow: $box-shadow;
            text-align: center;
            line-height: 43px;
            margin-left: 10px;
            color: #fff;
            border: none;

            &--success {
                background-image: linear-gradient(to right, #2ce69b, #00d68f);
                box-shadow: 0 0 0 0 #00b887, 0 0 0 0 #00997a, 0 0 transparent;
            }

            &--danger {
                background-image: linear-gradient(to right, #ff708d, #ff3d71);
                box-shadow: 0 0 0 0 #db2c66, 0 0 0 0 #b81d5b, 0 0 transparent;
            }

            nb-icon {
                width: 20px;
                height: 20px;
                color: #fff;
            }
        }

        .value {
            flex: 1;
            text-align: left;
            font-size: 22px;
            font-weight: 700;
        }
    }
}

.files {
    border-right: 5px solid #fff;

    .file {
        box-shadow: $box-shadow;
        max-width: 400px;
        background: #fff;
        margin-bottom: $section-margin-b;
        border-radius: $border-radius;

        .top {
            display: flex;
            align-items: center;
            padding: 10px 10px;

            nb-icon {
                color: $color-primary;

                &:hover {
                    color: $color-info;
                }
            }

            .date {
                flex: 1;
                text-align: left;
                color: #999;
                font-size: 13px;
            }
        }


        .penalties {
            .penalty {
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                padding: 5px 10px;
                background: rgba(255, 61, 113, .06);

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: $border-radius;
                    margin-left: 10px;
                }

                .chars {
                    flex: 1;
                    font-size: 14px;
                }

                .paid-value {
                    max-width: 60px;
                }

                &.paid {
                    background: rgba(0, 214, 143, .06);
                }
            }
        }
    }
}

.employees {

    .employee {
        background-color: #fff;
        border-radius: $border-radius;
        box-shadow: none;
        color: #192038;
        font-family: Open Sans, sans-serif;
        font-size: .9375rem;
        font-weight: 400;
        line-height: 1.25rem;
        margin-bottom: $section-margin-b;
        padding: 10px;
        box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, .1);

        &_main-chars {
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                width: 40px;
                height: 40px;
                margin-left: 20px;
                border-radius: $border-radius;
            }

            .name {
                flex: 1;
            }

            nb-icon {
                color: $color-primary;
                width: 20px;

                &:hover {
                    color: $color-info;
                }
            }
        }

        &_details-chars {
            margin-top: 10px;

            p {
                display: flex;

                .title {
                    color: #777;
                }

                .value {
                    flex: 1;
                    text-align: left;
                    font-size: 22px;
                }

                &.debt {
                    .value {
                        color: #ff3d71;
                    }
                }
            }
        }
    }
}

.noThing {
    margin-top: 100px;
    color: rgba(102, 102, 102, .15);
    font-size: 17px;
    font-weight: 900;
    text-align: center;
}