<div class="home">
  <div class="main" fxLayut="row wrap" dir="rtl">
    <div class="employees" fxFlex="100/3">
      <p class="main_title">کارمندان</p>

      <div class="wrapper">
        <div class="employee">
          <div class="employee_main-chars">
            <img src="../../../assets/images/employees/hajavi.jpg" alt="">
            <span>سجاد حاجوی</span>
          </div>
          <div class="employee_details-chars">
            <p class="paid"><span class="title">جریمه پرداخت شده</span> : <span class="value">75,000</span></p>
            <p class="debt"><span class="title">بدهی به صندوق</span> : <span class="value">10,000</span></p>
          </div>
        </div>
        <div class="employee">
          <div class="employee_main-chars">
            <img src="../../../assets/images/employees/nateghi.jpg" alt="">
            <span>امین ناطقی</span>
          </div>
          <div class="employee_details-chars">
            <p class="paid"><span class="title">جریمه پرداخت شده</span> : <span class="value">30,000</span></p>
            <p class="debt"><span class="title">بدهی به صندوق</span> : <span class="value">0</span></p>
          </div>
        </div>
        <div class="employee">
          <div class="employee_main-chars">
            <img src="../../../assets/images/employees/imandar.png" alt="">
            <span>حسین ایماندار</span>
          </div>
          <div class="employee_details-chars">
            <p class="paid"><span class="title">جریمه پرداخت شده</span> : <span class="value">95,000</span></p>
            <p class="debt"><span class="title">بدهی به صندوق</span> : <span class="value">5,000</span></p>
          </div>
        </div>
        <div class="employee">
          <div class="employee_main-chars">
            <img src="../../../assets/images/employees/ebrahimi.jpg" alt="">
            <span>رحمان ابراهیمی</span>
          </div>
          <div class="employee_details-chars">
            <p class="paid"><span class="title">جریمه پرداخت شده</span> : <span class="value">15,000</span></p>
            <p class="debt"><span class="title">بدهی به صندوق</span> : <span class="value">0</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="history" fxFlex="100/3">
      <p class="main_title">تاریخچه</p>

      <div class="wrapper">
        <div class="file">
          <p class="date">1398/9/13</p>
          <div class="users">
            <div class="user">
              <img src="../../../assets/images/employees/hajavi.jpg" alt="">
              <p class="chars">سجاد حاجوی</p>
              <p class="paid-value">5000</p>
            </div>
            <div class="user">
              <img src="../../../assets/images/employees/parsaie.png" alt="">
              <p class="chars">محمد حسین پارسایی</p>
              <p class="paid-value">5000</p>
            </div>
            <div class="user">
              <img src="../../../assets/images/employees/imandar.png" alt="">
              <p class="chars">حسین ایماندار</p>
              <p class="paid-value">5000</p>
            </div>
          </div>
        </div>

        <div class="file">
          <p class="date">1398/9/12</p>
          <div class="users">
            <div class="user">
              <img src="../../../assets/images/employees/hajavi.jpg" alt="">
              <p class="chars">سجاد حاجوی</p>
              <p class="paid-value">5000</p>
            </div>
            <div class="user">
              <img src="../../../assets/images/employees/parsaie.png" alt="">
              <p class="chars">محمد حسین پارسایی</p>
              <p class="paid-value">5000</p>
            </div>
            <div class="user">
              <img src="../../../assets/images/employees/imandar.png" alt="">
              <p class="chars">حسین ایماندار</p>
              <p class="paid-value">5000</p>
            </div>
            <div class="user">
              <img src="../../../assets/images/employees/nateghi.jpg" alt="">
              <p class="chars">سجاد حاجوی</p>
              <p class="paid-value">5000</p>
            </div>
            <div class="user">
              <img src="../../../assets/images/employees/ebrahimi.jpg" alt="">
              <p class="chars">محمد حسین پارسایی</p>
              <p class="paid-value">5000</p>
            </div>
          </div>
        </div>

        <div class="file">
          <p class="date">1398/9/11</p>
          <div class="users">
            <div class="user">
              <img src="../../../assets/images/employees/parsaie.png" alt="">
              <p class="chars">محمد حسین پارسایی</p>
              <p class="paid-value">5000</p>
            </div>
            <div class="user">
              <img src="../../../assets/images/employees/imandar.png" alt="">
              <p class="chars">حسین ایماندار</p>
              <p class="paid-value">5000</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="statistics" fxFlex="100/3">
      <p class="main_title">آمار</p>

      <div class="stat">
        
      </div>
    </div>
  </div>
  <div class="footer">
    Developed by Ali Hasani's
  </div>
</div>