<nb-card>
    <nb-card-header>
        <span>ویرایش کارمند</span>
    </nb-card-header>
    <nb-card-body class="center">
        
        <p><span *ngIf="mode === manipulationMode.update">ویرایش</span><span *ngIf="mode === manipulationMode.create">افزودن</span> فایل متاخرین روز <b>{{todayName}}</b></p>
        <div>
            <input type="text" fullwidth [matAutocomplete]="auto" nbInput placeholder="جستجو در بین کارمندان .."
                class="m-t-1 search-input" #employeeInput [formControl]="stateCtrl">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addPenalty($event)">
                <mat-option *ngFor="let employee of employees" data-id="{{employee._id}}" [value]="">
                    {{employee.firstName + " " + employee.lastName}}</mat-option>
            </mat-autocomplete>
        </div>
    </nb-card-body>

    <nb-card class="penalties">
        <div class="wrapper">
            <div class="penalty" *ngFor="let penalty of file.penalties">
                <div class="penalty_main-chars">
                    <nb-checkbox *ngIf="!penalty.paid" status="danger" [(ngModel)]="penalty.paid" class="m-l-10"></nb-checkbox>
                    <nb-checkbox *ngIf="penalty.paid" status="success" [(ngModel)]="penalty.paid" class="m-l-10"></nb-checkbox>
                    <img [src]="penalty.employee.picture" alt="" class="m-l-10">
                    <span class="name">{{penalty.employee.firstName}} {{penalty.employee.lastName}}</span>
                    <input type="text" nbInput [(ngModel)]="penalty.value">
                    <nb-icon icon="close-outline" status="danger" (click)="removePenalty(penalty.employee._id)"></nb-icon>
                </div>
            </div>
        </div>
    </nb-card>

    <nb-card-footer class="right">
        <button nbButton (click)="save()" class="m-l-10">ذخیره</button>
        <button nbButton status="basic" (click)="cancel()" class="float-left">انصراف</button>
    </nb-card-footer>
</nb-card>