<nb-card>
    <nb-card-header>
        <span>ویرایش کارمند</span>
    </nb-card-header>
    <nb-card-body class="center">
        <p>فایل متاخرین امروز</p>
        <div matAutocompleteOrigin #origin="matAutocompleteOrigin">
            <input type="text" fullwidth [matAutocomplete]="auto" [matAutocompleteConnectedTo]="origin" nbInput
                placeholder="جستجو در بین کارمندان .." class="m-t-1 search-input" #employeeInput
                (keyup)="filter(employeeInput.value)">
        </div>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let employee of employees" [value]="employee._id">
                {{employee.firstName + " " + employee.lastName}}</mat-option>
        </mat-autocomplete>
    </nb-card-body>

    <nb-card class="employees">
        <div class="wrapper">
            <div class="employee" *ngFor="let employee of selectedEmployees">
                <div class="employee_main-chars">
                    <img [src]="employee.picture" alt="">
                    <span class="name">{{employee.firstName}} {{employee.lastName}}</span>
                    <nb-icon icon="edit-outline" (click)="editEmployee(employee._id)"></nb-icon>
                </div>
            </div>
        </div>
    </nb-card>

    <nb-card-footer class="right">
        <button [nbSpinner]="loading" nbSpinnerStatus="basic" nbButton (click)="save()" class="m-l-10"
            [disabled]="loading">ذخیره</button>
        <button nbButton status="basic" (click)="cancel()" class="float-left">انصراف</button>
    </nb-card-footer>
</nb-card>