<nb-card>
    <nb-card-header>
        <span>ویرایش کارمند</span>
    </nb-card-header>
    <nb-card-body class="center">
        <p>فایل متاخرین امروز</p>
        <div matAutocompleteOrigin #origin="matAutocompleteOrigin">
            <input type="text" fullwidth [matAutocomplete]="auto" [matAutocompleteConnectedTo]="origin" nbInput
                placeholder="نام" class="m-t-1" #employeeInput (keyup)="filter(employeeInput.value)">
        </div>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let employee of employees" [value]="employee._id">
                {{employee.firstName + " " + employee.lastName}}</mat-option>
        </mat-autocomplete>
    </nb-card-body>
    <nb-card-footer class="right">
        <button [nbSpinner]="loading" nbSpinnerStatus="basic" nbButton (click)="save()" class="m-l-10"
            [disabled]="loading">ذخیره</button>
        <button nbButton status="basic" (click)="cancel()" class="float-left">انصراف</button>
    </nb-card-footer>
</nb-card>